.employee-container {
  margin: 1rem;
  display: flex;
  padding: 1rem;
  border: 2px solid black;

}


.employee-list {
  margin-top: 2rem;
  border: 2px solid black;
}
.person-img {
  height: 5rem;
  width: 5rem;
  border: 2px solid black;
  border-radius: 50%;
  object-fit: cover;

}

.employee-info {
  padding-left: 10px;
}